*{
    padding: 0;
    margin: 0;
}

.contenedor_padre{
    display: flex;
    flex-direction: column;
}

.contenedor-seccion{
    display: flex;
    background-color: rgb(102, 98, 168);
    margin-left: 11.53%;
    width: 84.15rem;
    height: 9rem;
}

.contenedor_texto{
    display: flex;
    flex-direction: row;
}

.texto{
    text-align: center;
    position: absolute;
    left: 14%;
    bottom: 86%;
    color: white;
    font-size: 38px;
    font-family: 'Audiowide', cursive;
    letter-spacing: 2px;
    border-bottom: 20px;
    -webkit-text-stroke: 0.3px black;
}

.contenedor-seccion2{
    display: flex;
    background: whitesmoke;
    width: 95.1rem;
    height: 40rem;
    padding: 0%;
    margin: 0%;

}

.contenedor-subtexto{
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 29%;
    left: 14%;
    font-size: 17px;
    font-family: 'Audiowide', cursive;
    margin-right: 45%;
    color: black;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
}

.imagen_grupal{
    position: absolute;
    width: 95%;
    left: 105%;
}



.contenedor-seccion3{
    background-color: rgb(102, 98, 168);
    margin: 0%;
}

.contenedor-imagenes{
    display: flex;
    margin-left:14%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.imagen1{
    width: 70%;
    height: 100%;
    margin-left: 1%;
}

.imagen2{
    width: 70%;
    height: 100%;
    
}

.imagen3{
    width: 70%;
    height: 100%;
    margin-left: 2%;
}

.contenedor-descrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.caja_final{
    background-color: rgb(197, 158, 74);
    width: 95.1rem;
    height: 1.2rem;
}

@media (min-width: 800px){

    .contenedor-seccion2{
        display: flex;
        background: whitesmoke;
        width: 95.1rem;
        height: 40rem;
        padding: 0%;
        margin: 0%;
    
    }
}